* {
    box-sizing: border-box;
}

body {
    background-color: lightslategrey;
    touch-action: pinch-zoom;
}

h2 {
    font-size: 3.5em;
    font-weight: 700;
    text-shadow: 2px 2px black;
    text-align: center;
    margin-top: 35px;
}

.grid {
    margin-right: auto;
    margin-left: auto;
    margin-top: 6%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 604px;
    width: 702px;
    /* height: 484px;
    width: 562px; */
    /* height: 242px;
    width: 282px; */
    cursor: pointer;
}

.taken {
    cursor: not-allowed;
}

.cell {
    height: 100px;
    width: 100px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.invisible {
    display: none;
}

.replayBtn {
    margin-left: 42%;
    font-size: 2.5em;
    border: 2px solid green;
    border-radius: 7px;
}

.player-one {
    background-color: darkred;
    border-radius: 100%;
}

.player-two {
    background-color: darkblue;
    border-radius: 100%;
}

#result {
    color: green;
}